<configuration scan="true" scanPeriod="30 seconds">
    <property name="GAME_ID" value="jabmud" />
    <property name="SERVICE_ID" value="jabmud-component" />

    <appender name="MainAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/${GAME_ID}/${SERVICE_ID}.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%X{playerId}] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/${GAME_ID}/${SERVICE_ID}.%d.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 1GB -->
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [l=%X{loginId}] [dv=%X{dataVersion}] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Wrap all appenders in async so they don't block -->
    <appender name="asyncMain" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <appender-ref ref="MainAppender"/>
    </appender>



    <!-- INFO for SSMCache is very spam happy -->
    <logger name="com.google.code.ssm.spring.SSMCache" level="WARN" />
    <!-- INFO for AmazonHttpClient is redundant with higher-level warnings or errors -->
    <logger name="com.amazonaws.http.AmazonHttpClient" level="WARN"/>

    <!-- ConnectionState messages from Curator are either redundant or unnecessary -->
    <logger name="org.apache.curator.ConnectionState" level="OFF"/>

    <root level="info">
        <appender-ref ref="asyncMain"/>
        <!--<appender-ref ref="STDOUT" />-->
    </root>

</configuration>
