<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">JABMud Console</h1>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Authentication</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for='jid'>JID:</label>
                <input class='form-control' type='text' id='jid' value="jabmud_user@localhost"/>
            </div>
            <div class="form-group">
                <label for='pass'>Password:</label>
                <input type='password' id='pass' value="password" class="form-control" />
            </div>
            <input type='button' class="btn btn-default" id='connect' value='connect' />
            <div class="form-group">
                <label for="playerName">Name:</label>
                <input type="text" id="playerName" value="SomeDood" class="form-control" />
            </div>
            <input type="button" class="btn btn-default" id="login" value="login"/>
        </div>
    </div>
</div>
<div class="row">
   <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <pre id="display"></pre>
            </div>
            <div class="row form-group">
                <div class="console-row">
                    <input type="text" class="form-control" name="buf" id="buf" />
                </div>
            </div>
            <div class="row form-group">
                <div class="console-row">
                    <button type="button" class="btn btn-outline btn-default" id="send">Send</button>
                    <button type="button" class="btn btn-outline btn-default" id="testing">Testing</button>
                </div>
            </div>
        </div>
    </div>
</div>