<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">JABMud Console</h1>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <label for='jid'>JID:</label>
                <input type='text' id='jid' value="tony.rasa@bw-mbp-trasa.glu.com"/>
                <label for='pass'>Password:</label>
                <input type='password' id='pass' value="password" />
                <input type='button' id='connect' value='connect' />
            </div>
        </div>
    </div>
</div>
<div class="row">
   <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <pre id="display"></pre>
            </div>
            <div class="row form-group">
                <div class="console-row">
                    <input type="text" class="form-control" name="buf" id="buf" />
                </div>
            </div>
            <div class="row form-group">
                <div class="console-row">
                    <button type="button" class="btn btn-outline btn-default" id="send">Send</button>
                    <button type="button" class="btn btn-outline btn-default" id="testing">Testing</button>
                </div>
            </div>
        </div>
    </div>
</div>