<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">index.ejs!</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        Here's some content for index.ejs!
    </div>
</div>